@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

body {
  font-family: roboto, sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow: hidden; }

html {
  overflow-x: hidden; }

p {
  font-size: 14px;
  line-height: 26px; }

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  a:focus, a:hover {
    color: #4676fa; }

h1,
h2,
h3,
h4,
h5 {
  font-family: raleway, sans-serif;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 1px; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a:focus, a:hover {
  text-decoration: none;
  outline: 0; }

a:not([href]):not([tabindex]) {
  color: #fff; }
  a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: #4676fa; }

section {
  padding: 80px 0 0; }

.section {
  padding: 80px 0; }

.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center; }
  .section-header .section-title {
    font-size: 42px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 100;
    color: #333333;
    position: relative; }
    .section-header .section-title span {
      color: #4676fa; }
  .section-header .section-subtitle {
    margin-top: 15px;
    color: #333333;
    font-size: 14px;
    font-weight: 400; }
  .section-header .lines {
    margin: auto;
    width: 70px;
    position: relative;
    border-top: 2px solid #346afe;
    margin-top: 15px; }
    .section-header .lines:before {
      position: absolute;
      content: "";
      display: inline-block;
      height: 10px;
      width: 10px;
      top: -10px;
      border: 4px solid #fff;
      border-radius: 50%;
      background: #4676fa;
      left: 27px; }

.card {
  background: #FFF none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }

.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  font-family: lato, sans-serif; }
  .btn:active, .btn:focus {
    box-shadow: none;
    outline: 0;
    color: #fff; }

.btn-common {
  border: 2px solid #4676fa;
  background-color: #4676fa;
  position: relative;
  z-index: 1;
  border-radius: 4px; }
  .btn-common:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; }

.btn-border {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px; }
  .btn-border:hover {
    border: 2px solid #4676fa;
    color: #fff;
    background-color: #4676fa; }

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px; }

.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize; }

button:focus {
  outline: 0 !important; }

.clear {
  clear: both; }

.social-icons {
  margin-bottom: 20px; }
  .social-icons ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .social-icons ul li {
      display: inline; }
      .social-icons ul li a {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
        border-radius: 4px;
        border: 1px solid rgba(255, 254, 254, 0.07);
        line-height: 40px;
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 16px; }
        .social-icons ul li a:hover {
          color: #fff; }

.facebook a {
  color: #4867aa; }
  .facebook a:hover {
    background: #4867aa; }

.twitter a {
  color: #1da1f2; }
  .twitter a:hover {
    background: #1da1f2; }

.google-plus a {
  color: #dd4d42; }
  .google-plus a:hover {
    background: #dd4d42; }

.youtube a {
  color: #df2926; }
  .youtube a:hover {
    background: #df2926; }

.linkedin a {
  color: #007bb6; }
  .linkedin a:hover {
    background: #007bb6; }

.pinterest a {
  color: #bd081c; }
  .pinterest a:hover {
    background: #bd081c; }

.dribbble a {
  color: #ea4c89; }
  .dribbble a:hover {
    background: #ea4c89; }

.behance a {
  color: #0b7cff; }
  .behance a:hover {
    background: #0b7cff; }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333;
  z-index: 9999999999; }

.spinner {
  width: 40px;
  height: 40px;
  top: 45%;
  position: relative;
  margin: 0 auto; }

.double-bounce1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4676fa;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out; }

.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4676fa;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px; }
  .back-to-top i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background-color: #4676fa;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }

#mainNav {
  background-color: #fff; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #4676fa; }
  #mainNav .navbar-brand {
    color: #4676fa; }
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #1451f9; }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #333333; }
    #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #4676fa; }

@media (min-width: 992px) {
  #mainNav {
    padding: 15px 0;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #fff; }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
      padding: 8px 0;
      background-color: #fff;
      border-bottom: 2px solid #f1f1f1; }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; } }

#hero-area {
  background: url("../images/headerHero.jpg") fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative; }
  #hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #4676fa;
    opacity: 0.7; }
  #hero-area .contents {
    padding: 220px 0 100px; }
    #hero-area .contents h1 {
      color: #fff;
      font-size: 50px;
      font-weight: 100;
      margin-bottom: 25px; }
    #hero-area .contents p {
      font-size: 14px;
      color: #fff;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.5px; }
    #hero-area .contents .btn {
      margin: 25px 25px 0 0;
      text-transform: uppercase; }
  #hero-area .banner_bottom_btn {
    margin-top: 40px; }
    #hero-area .banner_bottom_btn i {
      color: #fff;
      font-size: 48px;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      #hero-area .banner_bottom_btn i:hover {
        color: #4676fa; }

.contents .head-title {
  text-transform: uppercase;
  font-size: 42px !important;
  font-weight: 700 !important; }

.contents h4 {
  font-size: 36px;
  line-height: 50px; }

.contents .header-button .btn i {
  margin-left: 10px; }

.two-phones {
  position: relative;
  top: 180px;
  left: 60px; }
  .two-phones .phone-one {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 186px;
    height: 394px;
    background-image: url("../images/iPhone1.png"); }
  .two-phones .phone-two {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 10px;
    left: 114px;
    width: 123px;
    height: 390px;
    background-image: url("../images/iPhone2.png"); }

@media only screen and (max-width: 600px) {
  .two-phones {
    display: none; } }

.item-boxes {
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  min-height: 240px;
  webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .item-boxes .icon {
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #4676fa;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    webkit-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .item-boxes .icon i {
      font-size: 30px;
      line-height: 60px;
      color: #4676fa; }
  .item-boxes h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px; }
  .item-boxes:hover {
    background: #fff;
    box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15); }

.towColumns .contents {
  margin: 25% 0; }

.towColumns .two-phones {
  position: relative;
  top: 48px;
  left: 170px; }
  .towColumns .two-phones .phone-one {
    top: 0;
    left: 0;
    width: 219px;
    height: 487px; }
  .towColumns .two-phones .phone-two {
    top: 10px;
    left: 114px;
    width: 198px;
    height: 466px; }

.cardSize {
  width: 500px; }
  .cardSize .btn-common {
    padding: 10px 20px; }
    .cardSize .btn-common:hover {
      border-color: #4676fa;
      color: #4676fa;
      background-color: #fff; }

footer {
  padding: 60px 0 0;
  background-color: #333333; }
  footer .footerDocRow {
    margin-bottom: 20px; }
  footer .container .row .col h5 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1em;
    font-weight: 600; }
  footer .container .row .col ul li a {
    color: #fff; }
    footer .container .row .col ul li a:hover {
      color: #9cb4f6; }
  footer .copyrightWrap {
    padding: 20px 0;
    border-top: 0.5px solid #ced4da; }
    footer .copyrightWrap .copyright {
      color: #dee2e6; }
    footer .copyrightWrap ul.quicklinks {
      margin-bottom: 0;
      text-transform: none;
      text-align: right;
      color: #dee2e6; }

.nvestLogo {
  padding: 20px;
  grid-area: left;
  width: 100%;
  fill: #fff; }

.paymentsTabs {
  padding-top: 100px; }
  .paymentsTabs .nav-tabs {
    border-bottom: 2px solid #DDD;
    padding: 20px; }
    .paymentsTabs .nav-tabs li a {
      border: none;
      color: #333333;
      padding: 0 20px;
      text-transform: uppercase; }
      .paymentsTabs .nav-tabs li a:hover {
        border: none;
        color: #4676fa !important;
        background: transparent; }
      .paymentsTabs .nav-tabs li a.active {
        color: #4676fa; }
    .paymentsTabs .nav-tabs li:hover > a::after {
      transform: scale(1); }
  .paymentsTabs .tab-pane {
    overflow: hidden; }
  .paymentsTabs .tab-content {
    transition: all ease-in-out 0.3s; }

@media only screen and (max-width: 600px) {
  .paymentsTabs .nav-tabs li a {
    padding: 0 14px; } }

.item-boxes {
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .item-boxes .icon {
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #4676fa;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    webkit-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .item-boxes .icon i {
      font-size: 30px;
      line-height: 60px;
      color: #4676fa; }
  .item-boxes h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px; }
  .item-boxes:hover {
    background: #fff;
    box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15); }

.Boxes .icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  z-index: 1; }

.Boxes .content-left {
  position: relative; }
  .Boxes .content-left span {
    float: right;
    margin-left: 25px; }

.Boxes .content-right {
  position: relative; }
  .Boxes .content-right span {
    float: left;
    margin-right: 25px; }

.Boxes .box-item {
  padding: 30px 0; }
  .Boxes .box-item .icon {
    border: 1px solid #4676fa;
    text-align: center;
    margin: -10px 40px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .Boxes .box-item .icon i {
      color: #4676fa;
      font-size: 58px;
      line-height: 100px;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
  .Boxes .box-item .text h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px; }
  .Boxes .box-item .text p {
    font-size: 14px;
    line-height: 26px; }
  .Boxes .box-item:hover .icon {
    background: #4676fa; }
    .Boxes .box-item:hover .icon i {
      color: #fff; }

.Boxes .show-box {
  padding: 20px 0 0; }
  .Boxes .show-box img {
    width: 100%; }

@media only screen and (max-width: 600px) {
  .Boxes .box-item .icon {
    margin: 0 20px -10px 0; } }

.deposit {
  background-color: #f8f9fa;
  border-top: 0.5px solid #ced4da; }
  .deposit .lines:before {
    border-color: #f8f9fa; }

.featuresDiagram {
  background-color: #f9f9f9; }
  .featuresDiagram .diagram {
    position: relative; }
    .featuresDiagram .diagram .imgContainer img {
      height: 34em; }
    .featuresDiagram .diagram .icon {
      color: #4676fa; }
    .featuresDiagram .diagram .diagramItem {
      width: 102px;
      position: absolute;
      top: 0;
      right: 0; }
      .featuresDiagram .diagram .diagramItem a {
        color: #4676fa; }
        .featuresDiagram .diagram .diagramItem a:hover {
          color: #9cb4f6; }
      .featuresDiagram .diagram .diagramItem.donation {
        left: 300px;
        top: 90px; }
      .featuresDiagram .diagram .diagramItem.platform {
        left: 532px;
        top: -50px; }
      .featuresDiagram .diagram .diagramItem.ecommerce {
        left: 770px;
        top: 110px; }
      .featuresDiagram .diagram .diagramItem.billing {
        left: 770px;
        top: 347px; }
      .featuresDiagram .diagram .diagramItem.retail {
        left: 538px;
        top: 478px; }
      .featuresDiagram .diagram .diagramItem.donation {
        left: 268px;
        top: 348px; }
      .featuresDiagram .diagram .diagramItem.support {
        left: 275px;
        top: 108px; }

@media only screen and (max-width: 600px) {
  .featuresDiagram .diagram .imgContainer img {
    height: 14em; }
  .featuresDiagram .diagram .diagramItem.platform {
    left: 150px;
    top: -44px; }
  .featuresDiagram .diagram .diagramItem.ecommerce {
    left: 229px;
    top: 152px; }
  .featuresDiagram .diagram .diagramItem.billing {
    left: 230px;
    top: 28px; }
  .featuresDiagram .diagram .diagramItem.retail {
    left: 155px;
    top: 198px; }
  .featuresDiagram .diagram .diagramItem.donation {
    left: 300px;
    top: 90px; }
  .featuresDiagram .diagram .diagramItem.donation {
    left: 27px;
    top: 25px; }
  .featuresDiagram .diagram .diagramItem.support {
    left: 25px;
    top: 150px; } }

.diagramSection {
  border-top: 0.5px solid #ced4da; }

.featuresFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .featuresFlex .featuresFlexIteam {
    width: 310px;
    margin: 20px 0; }
    .featuresFlex .featuresFlexIteam h3 {
      font-size: 1.5em;
      font-weight: 600; }

.enterprise h2 {
  font-size: 2em;
  font-weight: 600; }

.enterprise .stackCard h1 {
  font-size: 5.3em;
  margin: 30px 0;
  font-weight: 400;
  line-height: 0.8;
  font-family: "Heebo", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #4676fa; }

.enterprise .stackCard h4 {
  color: #f8f9fa;
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 30px; }

.enterprise .stackCard p {
  color: #f8f9fa;
  line-height: normal; }

.enterprise .stackCard .card {
  min-height: 500px; }

.enterprise .stackCard .card2 {
  background-color: #4676fa !important; }

.enterprise .stackCard .card1 .card-body h4 {
  color: #333333; }

.enterprise .stackCard .card1 .card-body p {
  color: #333333; }

.enterprise .stackCard .pricing-table ul li {
  margin-bottom: 13px; }

.BlockchainPayments h4 {
  font-size: 1.5em;
  font-weight: 600; }

@media only screen and (max-width: 800px) {
  .card1 {
    margin-bottom: 20px; } }

.walletHero h1 {
  font-size: 2rem !important;
  font-weight: 600 !important;
  margin: 1rem;
  line-height: 1.3; }

.walletHero h4 {
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  padding: 0 1rem; }

.walletHero .contents {
  padding-bottom: 0 !important; }

.landing-card-pane {
  margin-top: 85%; }

@media only screen and (max-width: 800px) {
  .landing-card-pane {
    margin-top: 0; } }

.steps span.fa-stack.fa-4x {
  font-size: 2rem;
  background: #f1f8ff;
  border-radius: 60px;
  margin-bottom: 10px; }

.steps h4 {
  font-size: 1.5rem;
  font-weight: 600; }

.steps .ico img {
  height: 80px;
  max-width: 88px;
  margin: 1em auto;
  display: block; }

.form-control {
  width: 100%;
  margin-bottom: 20px;
  padding: 18px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  font-family: lato, sans-serif; }

.form-control:focus {
  color: none !important;
  border-color: none !important;
  outline: 0; }

.btn-common {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  display: inline-block;
  font-family: lato, sans-serif;
  border: 2px solid #4676fa;
  background-color: #4676fa;
  position: relative;
  z-index: 1;
  border-radius: 4px !important; }
  .btn-common:hover {
    border: 2px solid #4676fa;
    background-color: #fff;
    color: #4676fa; }
